@model IEnumerable<RAD302CA.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Tours</h2>
<h3>Please pick your choice to tour</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Start Tour", "Index","Coords", new { id=item.ID },new {@class="btn btn-success" })
        </td>
    </tr>
}

</table>
