@model IEnumerable<RAD302CA.Models.Coord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*Loading Bar*@
<div class="col-xs-12 col-sm-12 col-lg-12 progress-container">
    Loading
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-info" style="width:0%">
        </div>
    </div>
</div>

<div id="pano">

</div>

<script>
    //Animate Loading Bar
    $(".progress-bar").animate({
        width:"100%"
    }, 5000);
    setTimeout(function () {
        $(".progress-container").remove();
    },5000);
    
    function initialize() {
        //Work with google api with Coordinates in local api to cycle through all stops
        var panorama;
        var tour = @Html.Raw(Json.Encode(ViewBag.coords));
        var start=-1;
        var stops = tour.Length;

        (function next() {
            if (start++>=stops) {return;}
            setTimeout(function () {
                panorama = new google.maps.StreetViewPanorama(
                document.getElementById('pano'),
                {
                    pano:tour[start].PanoramaID,
                    pov: {heading: tour[start].Heading, pitch: tour[start].Pitch},
                    zoom: 1,
                    fov:120,
                    addressControl:false,
                    linksControl: false,
                    panControl: false,
                    enableCloseButton: false,
                    zoomControl: false,
                    fullscreenControl: false
                });
                next();
            }, 5000);
        })();
    }
</script>

